<a href="https://colab.research.google.com/github/ch1b4d4/Cleaning-Data-Exercise-Practise-/blob/main/chibudu_clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [207]:
import pandas as pd
import numpy as np

In [208]:
# Loading of the xls file into the work platform

data_xls = pd.read_excel('sdg_12_30_page_spreadsheet.xlsx', 'Sheet 1', dtype=str, index_col=None)

# conversion of the xls file into a csv one

data_xls.to_csv('car_emissions.csv', encoding='utf-8', index=False)

# Displaying of the output from the csv file
car_emit = pd.DataFrame(pd.read_csv("car_emissions.csv"))
car_emit.head(5)

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

  Data extracted on 22/02/2022 12:23:52 from [ESTAT]  ... Unnamed: 42
0                                          Dataset:   ...         NaN
1                                     Last updated:   ...         NaN
2                                                NaN  ...         NaN
3                                     Time frequency  ...         NaN
4                                                NaN  ...         NaN

[5 rows x 43 columns]

In [209]:
# Load the CSV files into the work book
car_emissions = pd.read_csv('/content/car_emissions.csv')
# Display the top 10 items of the CSV file
car_emissions.head(10)

  Data extracted on 22/02/2022 12:23:52 from [ESTAT]  ... Unnamed: 42
0                                          Dataset:   ...         NaN
1                                     Last updated:   ...         NaN
2                                                NaN  ...         NaN
3                                     Time frequency  ...         NaN
4                                                NaN  ...         NaN
5                                               TIME  ...         NaN
6                                       GEO (Labels)  ...         NaN
7          European Union - 27 countries (from 2020)  ...           p
8          European Union - 28 countries (2013-2020)  ...         NaN
9          European Union - 27 countries (2007-2013)  ...         NaN

[10 rows x 43 columns]

In [210]:
# Conversion of the CSV Data Set above into a Data Frame

car_df = pd.DataFrame(pd.read_csv("car_emissions.csv"))
car_df.head(11)

   Data extracted on 22/02/2022 12:23:52 from [ESTAT]  ... Unnamed: 42
0                                           Dataset:   ...         NaN
1                                      Last updated:   ...         NaN
2                                                 NaN  ...         NaN
3                                      Time frequency  ...         NaN
4                                                 NaN  ...         NaN
5                                                TIME  ...         NaN
6                                        GEO (Labels)  ...         NaN
7           European Union - 27 countries (from 2020)  ...           p
8           European Union - 28 countries (2013-2020)  ...         NaN
9           European Union - 27 countries (2007-2013)  ...         NaN
10                                            Belgium  ...           p

[11 rows x 43 columns]

In [211]:
# Drop the columns that are not needed for the anaysis of this code

car_emission_df = car_df.drop(axis = 0, labels = [0, 1, 2, 3, 4, 6])

# Display the updated dataset without the dropped rows

car_emission_df.head(5)

   Data extracted on 22/02/2022 12:23:52 from [ESTAT]  ... Unnamed: 42
5                                                TIME  ...         NaN
7           European Union - 27 countries (from 2020)  ...           p
8           European Union - 28 countries (2013-2020)  ...         NaN
9           European Union - 27 countries (2007-2013)  ...         NaN
10                                            Belgium  ...           p

[5 rows x 43 columns]

In [212]:
# car_emission_df.dropna(axis = 0, value = 'Time')
car_emission_df.fillna(0)

   Data extracted on 22/02/2022 12:23:52 from [ESTAT]  ... Unnamed: 42
5                                                TIME  ...           0
7           European Union - 27 countries (from 2020)  ...           p
8           European Union - 28 countries (2013-2020)  ...           0
9           European Union - 27 countries (2007-2013)  ...           0
10                                            Belgium  ...           p
11                                           Bulgaria  ...           p
12                                            Czechia  ...           p
13                                            Denmark  ...           p
14   Germany (until 1990 former territory of the FRG)  ...           p
15                                            Estonia  ...           p
16                                            Ireland  ...           p
17                                             Greece  ...           p
18                                              Spain  ...           p
19                                             France  ...           p
20                                            Croatia  ...           p
21                                              Italy  ...           p
22                                             Cyprus  ...           p
23                                             Latvia  ...           p
24                                          Lithuania  ...           p
25                                         Luxembourg  ...           p
26                                            Hungary  ...           p
27                                              Malta  ...           p
28                                        Netherlands  ...           p
29                                            Austria  ...           p
30                                             Poland  ...           p
31                                           Portugal  ...           p
32                                            Romania  ...           p
33                                           Slovenia  ...           p
34                                           Slovakia  ...           p
35                                            Finland  ...           p
36                                             Sweden  ...           p
37                                            Iceland  ...           p
38                                             Norway  ...           p
39                                        Switzerland  ...           0
40                                     United Kingdom  ...           p
41                                                  0  ...           0
42                                      Special value  ...           0
43                                                  :  ...           0
44                                   Available flags:  ...           0
45                                                  e  ...           0
46                                                  p  ...           0

[41 rows x 43 columns]

In [213]:
# Dropping of all the columns that are not needed, in this case null columns 

clean_cars = car_emission_df.drop(columns = ['Unnamed: 2', 'Unnamed: 4','Unnamed: 6',
                                             'Unnamed: 8', 'Unnamed: 10','Unnamed: 12', 'Unnamed: 14', 
                                'Unnamed: 16','Unnamed: 18','Unnamed: 20', 
                                'Unnamed: 22','Unnamed: 24',
                                'Unnamed: 26', 'Unnamed: 28','Unnamed: 30',
                                'Unnamed: 32', 'Unnamed: 34','Unnamed: 36',
                                'Unnamed: 38', 'Unnamed: 40','Unnamed: 42',], axis = 1)

In [214]:
# Displaying the output of a dataset without the dropped column names
clean_cars.head(5)

   Data extracted on 22/02/2022 12:23:52 from [ESTAT]  ... Unnamed: 41
5                                                TIME  ...        2020
7           European Union - 27 countries (from 2020)  ...       108.2
8           European Union - 28 countries (2013-2020)  ...           :
9           European Union - 27 countries (2007-2013)  ...           :
10                                            Belgium  ...       107.7

[5 rows x 22 columns]

In [215]:
# Need to convert the row 'Time' into the main column. axis = 1
# Specification of the row that represents the row = 'Time'
header_row = 0

# Making and display of the new data set with new column

clean_cars.columns = clean_cars.iloc[header_row]
clean_cars.head(5)

5                                        TIME   2000  ...   2019   2020
5                                        TIME   2000  ...   2019   2020
7   European Union - 27 countries (from 2020)      :  ...  122.1  108.2
8   European Union - 28 countries (2013-2020)      :  ...      :      :
9   European Union - 27 countries (2007-2013)      :  ...      :      :
10                                    Belgium  166.5  ...  121.5  107.7

[5 rows x 22 columns]

In [216]:
# Drop the columns that are not needed for the anaysis of this code

clean_cars = clean_cars.drop(axis = 0, labels = 5)

# Display the updated dataset without the dropped rows

clean_cars.head(2)

5                                       TIME 2000 2001  ...   2018   2019   2020
7  European Union - 27 countries (from 2020)    :    :  ...  120.1  122.1  108.2
8  European Union - 28 countries (2013-2020)    :    :  ...      :      :      :

[2 rows x 22 columns]

In [217]:
# Replacing the colons in the dataset with the value '0'

clean_cars['2000'] = clean_cars['2000'].str.replace(":","0")
clean_cars['2001'] = clean_cars['2001'].str.replace(":","0")
clean_cars['2002'] = clean_cars['2002'].str.replace(":","0")
clean_cars['2003'] = clean_cars['2003'].str.replace(":","0")
clean_cars['2004'] = clean_cars['2004'].str.replace(":","0")
clean_cars['2005'] = clean_cars['2005'].str.replace(":","0")
clean_cars['2006'] = clean_cars['2006'].str.replace(":","0")
clean_cars['2007'] = clean_cars['2007'].str.replace(":","0")
clean_cars['2008'] = clean_cars['2008'].str.replace(":","0")
clean_cars['2009'] = clean_cars['2009'].str.replace(":","0")
clean_cars['2010'] = clean_cars['2010'].str.replace(":","0")
clean_cars['2011'] = clean_cars['2011'].str.replace(":","0")
clean_cars['2012'] = clean_cars['2012'].str.replace(":","0")
clean_cars['2013'] = clean_cars['2013'].str.replace(":","0")
clean_cars['2014'] = clean_cars['2014'].str.replace(":","0")
clean_cars['2015'] = clean_cars['2015'].str.replace(":","0")
clean_cars['2016'] = clean_cars['2016'].str.replace(":","0")
clean_cars['2017'] = clean_cars['2017'].str.replace(":","0")
clean_cars['2018'] = clean_cars['2018'].str.replace(":","0")
clean_cars['2019'] = clean_cars['2019'].str.replace(":","0")
clean_cars['2020'] = clean_cars['2020'].str.replace(":","0")

# Displaying the output without the special characters but the value 0
clean_cars.head(5)

5                                        TIME   2000  ...   2019   2020
7   European Union - 27 countries (from 2020)      0  ...  122.1  108.2
8   European Union - 28 countries (2013-2020)      0  ...      0      0
9   European Union - 27 countries (2007-2013)      0  ...      0      0
10                                    Belgium  166.5  ...  121.5  107.7
11                                   Bulgaria      0  ...  130.2  133.0

[5 rows x 22 columns]

In [234]:
clean_cars.info

<bound method DataFrame.info of 5                                               TIME  ...   2020
7          European Union - 27 countries (from 2020)  ...  108.2
8          European Union - 28 countries (2013-2020)  ...      0
9          European Union - 27 countries (2007-2013)  ...      0
10                                           Belgium  ...  107.7
11                                          Bulgaria  ...  133.0
12                                           Czechia  ...  120.9
13                                           Denmark  ...   95.3
14  Germany (until 1990 former territory of the FRG)  ...  113.6
15                                           Estonia  ...  121.0
16                                           Ireland  ...  106.2
17                                            Greece  ...  107.3
18                                             Spain  ...  112.4
19                                            France  ...   98.5
20                                           Croatia  ...  112.2
21                                             Italy  ...  108.6
22                                            Cyprus  ...  125.0
23                                            Latvia  ...  119.2
24                                         Lithuania  ...  119.3
25                                        Luxembourg  ...  119.8
26                                           Hungary  ...  116.7
27                                             Malta  ...  101.4
28                                       Netherlands  ...   82.3
29                                           Austria  ...  113.0
30                                            Poland  ...  125.0
31                                          Portugal  ...   97.5
32                                           Romania  ...  115.4
33                                          Slovenia  ...  114.1
34                                          Slovakia  ...  121.8
35                                           Finland  ...  100.3
36                                            Sweden  ...   93.4
37                                           Iceland  ...   80.2
38                                            Norway  ...   38.2
39                                       Switzerland  ...      0
40                                    United Kingdom  ...  111.5
41                                               NaN  ...    NaN
42                                     Special value  ...    NaN
43                                                 :  ...    NaN
44                                  Available flags:  ...    NaN
45                                                 e  ...    NaN
46                                                 p  ...    NaN

[40 rows x 22 columns]>

In [218]:
# Cleaning of the second Data Set

In [219]:
# Loading of the xls file into the work platform

data1_xls = pd.read_excel('t2020_35_page_spreadsheet.xlsx', 'Sheet 1', dtype=str, index_col=None)

# conversion of the xls file into a csv one

data1_xls.to_csv('esg_emissions.csv', encoding='utf-8', index=False)

# Displaying of the output from the csv file
esg_emit = pd.DataFrame(pd.read_csv("esg_emissions.csv"))
esg_emit.head(5)

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

  Data extracted on 22/02/2022 12:22:55 from [ESTAT]  ... Unnamed: 19
0                                          Dataset:   ...         NaN
1                                     Last updated:   ...         NaN
2                                                NaN  ...         NaN
3                                     Time frequency  ...         NaN
4                      Indicators for EU2020 project  ...         NaN

[5 rows x 20 columns]

In [220]:
# Load the CSV files into the work book
esd_sectors = pd.read_csv('//content/esg_emissions.csv')

# Display the top 10 items of the CSV file
esd_sectors.head(5)

  Data extracted on 22/02/2022 12:22:55 from [ESTAT]  ... Unnamed: 19
0                                          Dataset:   ...         NaN
1                                     Last updated:   ...         NaN
2                                                NaN  ...         NaN
3                                     Time frequency  ...         NaN
4                      Indicators for EU2020 project  ...         NaN

[5 rows x 20 columns]

In [221]:
# Conversion of the CSV Data Set above into a Data Frame

esd_df = pd.DataFrame(pd.read_csv("esg_emissions.csv"))
esd_df.head(10)

  Data extracted on 22/02/2022 12:22:55 from [ESTAT]  ...         Unnamed: 19
0                                          Dataset:   ...                 NaN
1                                     Last updated:   ...                 NaN
2                                                NaN  ...                 NaN
3                                     Time frequency  ...                 NaN
4                      Indicators for EU2020 project  ...                 NaN
5                                                NaN  ...                 NaN
6                                               TIME  ...  TARGET_FLAG,TARGET
7                                       GEO (Labels)  ...                 NaN
8          European Union - 27 countries (from 2020)  ...                   :
9          European Union - 28 countries (2013-2020)  ...                90.7

[10 rows x 20 columns]

In [222]:

# Drop the columns that are not needed for the anaysis of this code

esd_sectors_df = esd_df.drop(axis = 0, labels = [0, 1, 2, 3, 4, 5,7])

# Display the updated dataset without the dropped rows

esd_sectors_df.head(5)

   Data extracted on 22/02/2022 12:22:55 from [ESTAT]  ...         Unnamed: 19
6                                                TIME  ...  TARGET_FLAG,TARGET
8           European Union - 27 countries (from 2020)  ...                   :
9           European Union - 28 countries (2013-2020)  ...                90.7
10                                            Belgium  ...                85.0
11                                           Bulgaria  ...               120.0

[5 rows x 20 columns]

In [223]:
# esd_emission_df.dropna(axis = 0, value = 'Time')
esd_sectors_df.fillna(0)

   Data extracted on 22/02/2022 12:22:55 from [ESTAT]  ...         Unnamed: 19
6                                                TIME  ...  TARGET_FLAG,TARGET
8           European Union - 27 countries (from 2020)  ...                   :
9           European Union - 28 countries (2013-2020)  ...                90.7
10                                            Belgium  ...                85.0
11                                           Bulgaria  ...               120.0
12                                            Czechia  ...               109.0
13                                            Denmark  ...                80.0
14   Germany (until 1990 former territory of the FRG)  ...                86.0
15                                            Estonia  ...               111.0
16                                            Ireland  ...                80.0
17                                             Greece  ...                96.0
18                                              Spain  ...                90.0
19                                             France  ...                86.0
20                                            Croatia  ...               111.0
21                                              Italy  ...                87.0
22                                             Cyprus  ...                95.0
23                                             Latvia  ...               117.0
24                                          Lithuania  ...               115.0
25                                         Luxembourg  ...                80.0
26                                            Hungary  ...               110.0
27                                              Malta  ...               105.0
28                                        Netherlands  ...                84.0
29                                            Austria  ...                84.0
30                                             Poland  ...               114.0
31                                           Portugal  ...               101.0
32                                            Romania  ...               119.0
33                                           Slovenia  ...               104.0
34                                           Slovakia  ...               113.0
35                                            Finland  ...                84.0
36                                             Sweden  ...                83.0
37                                            Iceland  ...                   :
38                                             Norway  ...                   :
39                                        Switzerland  ...                   :
40                                     United Kingdom  ...                84.0
41                                                  0  ...                   0
42                                      Special value  ...                   0
43                                                  :  ...                   0
44                                   Available flags:  ...                   0
45                                                  p  ...                   0

[39 rows x 20 columns]

In [224]:
# Dropping of all the columns that are not needed, in this case null columns 

esg_sectors = esd_sectors_df.drop(columns = ['Unnamed: 2', 'Unnamed: 4','Unnamed: 6',
                                             'Unnamed: 8', 'Unnamed: 10','Unnamed: 12', 'Unnamed: 14', 
                                'Unnamed: 16','Unnamed: 18'], axis = 1)

In [225]:
# Need to convert the row 'Time' into the main column. axis = 1
# Specification of the row that represents the row = 'Time'
header_row = 0

# Making and display of the new data set with new column

esg_sectors.columns = esg_sectors.iloc[header_row]
esg_sectors.head(10)

6                                               TIME  ...  TARGET_FLAG,TARGET
6                                               TIME  ...  TARGET_FLAG,TARGET
8          European Union - 27 countries (from 2020)  ...                   :
9          European Union - 28 countries (2013-2020)  ...                90.7
10                                           Belgium  ...                85.0
11                                          Bulgaria  ...               120.0
12                                           Czechia  ...               109.0
13                                           Denmark  ...                80.0
14  Germany (until 1990 former territory of the FRG)  ...                86.0
15                                           Estonia  ...               111.0
16                                           Ireland  ...                80.0

[10 rows x 11 columns]

In [226]:
# Drop the columns that are not needed for the anaysis of this code

esg_sectors = esg_sectors.drop(axis = 0, labels = 6)

# Display the updated dataset without the dropped rows

esg_sectors.head()

6                                        TIME   2012  ...   2020 TARGET_FLAG,TARGET
8   European Union - 27 countries (from 2020)   91.9  ...   84.2                  :
9   European Union - 28 countries (2013-2020)   90.6  ...      :               90.7
10                                    Belgium   92.8  ...   82.9               85.0
11                                   Bulgaria  110.8  ...  126.2              120.0
12                                    Czechia  102.1  ...  104.3              109.0

[5 rows x 11 columns]

In [230]:
# Replacing the colons in the dataset with the value '0'

esg_sectors['2012'] = esg_sectors['2012'].str.replace(":","0")
esg_sectors['2013'] = esg_sectors['2013'].str.replace(":","0")
esg_sectors['2014'] = esg_sectors['2014'].str.replace(":","0")
esg_sectors['2015'] = esg_sectors['2015'].str.replace(":","0")
esg_sectors['2016'] = esg_sectors['2016'].str.replace(":","0")
esg_sectors['2017'] = esg_sectors['2017'].str.replace(":","0")
esg_sectors['2018'] = esg_sectors['2018'].str.replace(":","0")
esg_sectors['2019'] = esg_sectors['2019'].str.replace(":","0")
esg_sectors['2020'] = esg_sectors['2020'].str.replace(":","0")

In [233]:
esg_sectors.info

<bound method DataFrame.info of 6                                               TIME  ... TARGET_FLAG,TARGET
8          European Union - 27 countries (from 2020)  ...                  :
9          European Union - 28 countries (2013-2020)  ...               90.7
10                                           Belgium  ...               85.0
11                                          Bulgaria  ...              120.0
12                                           Czechia  ...              109.0
13                                           Denmark  ...               80.0
14  Germany (until 1990 former territory of the FRG)  ...               86.0
15                                           Estonia  ...              111.0
16                                           Ireland  ...               80.0
17                                            Greece  ...               96.0
18                                             Spain  ...               90.0
19                                            France  ...               86.0
20                                           Croatia  ...              111.0
21                                             Italy  ...               87.0
22                                            Cyprus  ...               95.0
23                                            Latvia  ...              117.0
24                                         Lithuania  ...              115.0
25                                        Luxembourg  ...               80.0
26                                           Hungary  ...              110.0
27                                             Malta  ...              105.0
28                                       Netherlands  ...               84.0
29                                           Austria  ...               84.0
30                                            Poland  ...              114.0
31                                          Portugal  ...              101.0
32                                           Romania  ...              119.0
33                                          Slovenia  ...              104.0
34                                          Slovakia  ...              113.0
35                                           Finland  ...               84.0
36                                            Sweden  ...               83.0
37                                           Iceland  ...                  :
38                                            Norway  ...                  :
39                                       Switzerland  ...                  :
40                                    United Kingdom  ...               84.0
41                                               NaN  ...                NaN
42                                     Special value  ...                NaN
43                                                 :  ...                NaN
44                                  Available flags:  ...                NaN
45                                                 p  ...                NaN

[38 rows x 11 columns]>